<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tools.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <Tools.Console.Properties.Settings>
            <setting name="DockPanelSave" serializeAs="String">
                <value/>
            </setting>
        </Tools.Console.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Tools.Console.Properties.Settings>
            <setting name="ConnectIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConnectPort" serializeAs="String">
                <value>2300</value>
            </setting>
        </Tools.Console.Properties.Settings>
    </applicationSettings>
    <system.diagnostics>
        <!-- This seems to fix a problem sending Animation Data through the socket, but I don't know why. -->
        <switches>
            <add name="System.Net.Sockets" value="Verbose"/>
        </switches>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
